body{
    background-color: rgb(197, 223, 253);
    margin-top: 200px;
}

.navbar{
    background-color: black;
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
}

.navbar a{
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none
}

.navbar img{
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 20px 20px;
}

.bigimg{
    width: 50%;
    height: auto;
    
}

.authorimg{
    width: 50px;
    height:auto;
}
video{
    width: 100%;
    height: auto 
}

.content{
    padding-right: 20px;
    padding-left: 20px;
}
